## Week 11a: SQLite database

In [1]:
import sqlite3
import csv

#### Establish a connection

In [2]:
con = sqlite3.connect('School.db') #, autocommit=False)
cursor = con.cursor()

#### Create a table

In [6]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [4]:
cursor.execute("INSERT INTO students VALUES (387423, 'Patrick', 'Ramos')")

IntegrityError: UNIQUE constraint failed: students.id

#### Query the table

In [ ]:
results = cursor.execute("SELECT * FROM students")

for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Close the connection

In [ ]:
con.commit()
con.close()

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Reestablish connection

In [ ]:
new_con = sqlite3.Connection('School.db') #, autocommit=False)
new_cursor = new_con.cursor()

In [ ]:
results = new_cursor.execute("SELECT * FROM students").fetchall()
results

In [ ]:
new_con.close()

#### Redo with `commit`

#### Check if something is in process

In [ ]:
con.in_transaction

In [ ]:
con.total_changes

#### Insert data from csv

In [ ]:
con = sqlite3.Connection('School.db')
cursor = con.cursor()

In [7]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
            continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

['fname', 'lname', 'ID']
['Patrick', 'Ramos', '387423']
['Walter', 'King', '657953']
['Margaret', 'Brooks', '264676']
['Betty', 'Murphy', '705400']
['Pamela', 'Campbell', '399844']
['Victoria', 'Lee', '669408']
['Samantha', 'Peterson', '211134']
['Judith', 'Mendoza', '518833']
['Emily', 'Reed', '962205']
['Justin', 'Kelly', '660198']

In [5]:
#drop_table = """DROP TABLE students"""
#cursor.execute(drop_table)
#con.commit()

In [9]:
cursor.execute("SELECT * FROM students").fetchall()

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [10]:
con.commit()
con.close()

#### Delete database

### Exercises

 - recreate the database called `School` with a table called `students`; add the `students_1.csv` data back into the table
 - add the students in the `students_2.csv` file to the `students` table in the database
 - in the `School` database, create a new table called `marks` and add the data in the `marks.csv`file to it

In [11]:
import sqlite3
import csv

In [ ]:
con = sqlite3.connect('school.db')
cursor = con.cursor()

In [ ]:
create_table = """CREATE TABLE students(
                         id INTEGER PRIMARY KEY,
                         fname TEXT,
                         lname TEXT);
               """